@font-face {
	font-family: 'Steve';
	src: local('SteveHand'), url('fonts/SteveHand.woff');
}

html {
	height: 100%;
	 
}
body {
	color: white;
	text-align: center;
	margin: 75px;
	font-family: Steve;
	font-size: 500%;
	 
}
